# Prerequisites
*.d

# Uploaded files
data/www/html/upload/*

# Compiled Object files
objects
objects/*
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Hidden files and directories
.*

# Executables
webserv
*.exe
*.out
*.app

# debug information files
*.dwo

*.txt

test
out